@charset "utf-8";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:link{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font: 16px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background: #ffffff;
    width: 100%;
}
.d_none{
    display: none;
}
.centering{
    width: 1200px;
    margin: 0 auto;
}

#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 350px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
    align-items: center;
}
.logo{
    width: 200px;
    height: 40px;
}
.gnb{
    display: flex;
    font-size: 25px;
    /* color: aliceblue; */
    font-weight: 900;
    margin-top: 75px;
    text-align: center;
    width: 640px;
    align-items: center;
    justify-content: space-evenly;
}
.gnb>li{
    position: relative;
    width: 100%;
}
.gnb>li>a{
    display: block;
}
.gnb>li>a:hover{
    color: #ffffff;
    background: #DF00FF;
}
.lnb{
    display: none;
    position: absolute;
    top: 35px;
    font-size: .8em;
    font-weight: 900;
    width: 100%;
    z-index: 1000;
    background: #ffffff;
}
.lnb li{
    width: 100%;
}
.lnb li:hover{
    color: #ffffff;
    background: #DF00FF;
}

.slide{
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}
.slide li{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}
.main{
    height: 200px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.board,.banner,.shortcut{
    width: calc(100% / 3);
    /* flex: 1; */
    text-align: center;
    height: 100%;
}
.board_title{
    display: flex;
    font-weight: 900;
}
.board_title li{
    width: 100%;
}

.on{
    background: #DF00FF;
    color: #ffffff;
}

.board_list{
    text-align: left;
}
.notice{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.banner{
    margin: 0 auto;
}
.shortcut{
    display: flex;
}
.shortcut ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shortcut img{
    width: 180px;
    height: 80px;
    object-fit: contain;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 0 20px;
}
.footer_logo, .sns{
    flex: 1;
}
.footer_logo{
    align-self: center;
}
.footer_logo img{
    width: 150px;
}
.copy{
    flex: 5;
    padding-top: 50px;
}
.sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
