@charset "utf-8";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #222328;
    background: #fff;
}
.d_none{
    display: none;
}